/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kumbh-sans-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kumbh-sans-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* kumbh-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/kumbh-sans-v22-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --title-color: #333461;
  --text-color: #4a556c;
  --bg-color: #20ad96;
  --bg-hero: #FAF8F6;

  /* --mobile: 360px;
  --tablet: 900px;
  --desktop: 1270px; */
}

/* Создание контейнера ----------- */
.container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 900px;
  }
}

@media screen and (min-width: 1270px) {
  .container {
    width: 1270px;
  }
}

/* Личный нормализатор -------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  padding: 0;
}

/* чтоб можно было задать геометрию -------- */
a {
  display: block;
  text-decoration: none;
  font-style: normal;
}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Зброс зазора */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wapper2 {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
}

.nav ul {
  display: flex;
}

.list {
  gap: 30px;
}

.list li a {
  color: var(--text-color);
  padding: 11px 16px 11px 16px;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}

.list__item:focus,
.list__item:hover {
 color: var(--bg-color);
}

.wapper__btn {
  /* display: flex; */
  margin-left: 30px;
}

@media screen and (max-width: 900px) {
  .wapper2 {
    display: none;
  }
}

.btn {
  padding: 11px 16px 11px 16px;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 600;
  background-color: var(--bg-color);
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background-color: var(--text-color);
}

/* section hero */
.hero {
  padding-top: 100px;
  padding-bottom: 0;
  background-color: var(--bg-hero);
  height: 536px;
}


@media screen and (max-width: 900px) {
  .hero {
height: 990px;
  }
}

@media screen and (min-width: 900px) and (min-width: 1270px) {
  .hero {
height: 677px;
  }
}

.btn2 {
padding: 11px 42px 11px 42px;
}

@media screen and (max-width: 900px) {
  .btn2 {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 900px) {
  .hero__wapper {
   display: block;
  }
}

@media screen and (min-width: 900px) {
  .hero__wapper {
    display: flex;
  }
}

.hero__position {
  position: relative;
}


.hero__position > .vector {
  position: absolute;
  top: -70px;
  left: -46px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .hero__position > .vector {
   left: 2px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1269px) {
  .hero__position > .vector {
   left: -4px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1269px) {
  .hero__left {
   justify-content: space-between;
  }
}



.hero__top {
  margin-top: 30px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
}

.hero__title {
  margin-bottom: 30px;
}

@media screen and (max-width: 1269px) {
  .hero__title {
    max-width: 339px;
    font-weight: 800;
    font-size: 38px;
  }
}

@media screen and (min-width: 1270px) {
  .hero__title {
    max-width: 520px;
  font-weight: 800;
  font-size: 72px;
  line-height: 86.4px;
  }
}

@media screen and (max-width: 1269px) {
  .hero__text {
    max-width: 340px;
    font-size: 18px;
    line-height: 28.2px;
  }
}

@media screen and (min-width: 1270px) {
  .hero__text {
    max-width: 539px;
    line-height: 28.8px;
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) {
  .hero__right {
    margin-left: 150px;
  }
}

@media screen and (max-width: 900px) {
  .wapper2 {
    margin-left: 0;
  }
}

.box {
  cursor: url('/images/Group\ 42911.png'), auto;
}

.box-relative {
  position: relative;
}

  .box__position >.box {
  position: absolute;
  top: -45px;
  left: -100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 212px;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .box__position >.box {
    margin: 0;
    top: -30px;
  right: 0;
  left: -2px;
  padding: 7px;
  width: 170px;
  }
}

@media screen and (max-width: 900px) {
  .hero__image {
   width: 300px;
   height: 370px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1270px) {
  .hero__image {
   width: 350px;
   height: 450px;
  }
}


.box100 {
  font-weight: 800;
font-size: 24px;
line-height: 32px;
color: var(--title-color);
}

.box__text {
margin-bottom: 0;
  font-size: 12px;
  line-height: 24px;
  color: var(--text-color);
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
